require 'date'

<!DOCTYPE html>
<html>
    <head>
        <title>Hello!</title>
    </head>
    <body>
        <h1>Today</h1>
        <p>
          <%= DateTime.new(2020,07,24).strftime("The date is %A, %B %d, %Y") %>
        </p>
    </body>
</html>
